<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tool="http://www.springframework.org/schema/tool" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                        http://www.springframework.org/schema/tool
                        http://www.springframework.org/schema/tool/spring-tool-4.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
                        http://www.springframework.org/schema/data/jpa
                        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <!--组件扫描，如果想要类被组件扫描，扫描到，并在Spring容器中注册的话
    必须在类名上添加上注解 @Repository、@Service、@Controller、@Component （这四个注解功能一样，名字不同只是为了区分不同功能）
    @Component 是通用组件
    -->



    <import resource="spring-redis.xml"/>


 <!--   <context:component-scan base-package="com.mcloud.service.impl, com.mcloud.repository"/>
    <context:component-scan base-package="com.mcloud.service.factory"/>-->
    <context:component-scan base-package="com.mcloud.service"/>
   <!-- <bean id="UploadFileServiceImpl" class="com.mcloud.service.impl.UploadFileServiceImpl"></bean>
    <bean id="UserLoginServiceImpl" class="com.mcloud.service.impl.UserLoginServiceImpl"></bean>         -->




</beans>